In [1]:
import pandas as pd
pd.__version__

'1.2.4'

In [3]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75


        gender — пол;
        race/ethnicity — раса/этническая принадлежность;
        parental level of education — уровень образования родителей;
        lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
        test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
        math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Данные о скольких студентах содержатся в таблице?

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков балл по письму у студента под индексом 155?

In [5]:
student_data.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

Каков у студентов средний балл по математике?

In [6]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [7]:
student_data['math score'].mean()

66.089

Какая расовая группа является самой крупной в учебном заведении?

In [8]:
student_data.describe(include='object')

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [9]:
student_data['race/ethnicity'].mode()

0    group C
dtype: object

In [10]:
student_data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
    test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
    math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [16]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

Сколько студентов получили 0 баллов по математике?

In [19]:
student_data[student_data['math score'] == 0].shape[0]

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

        gender — пол;
        race/ethnicity — раса/этническая принадлежность;
        parental level of education — уровень образования родителей;
        lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
        test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
        math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [20]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [21]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [22]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [28]:
group_a=student_data['race/ethnicity']=='group A'
group_c=student_data['race/ethnicity']=='group C'
median_group_a=student_data[group_a]['writing score'].median()
mean_group_c=student_data[group_c]['writing score'].mean()

In [29]:
median_group_a

62.0

In [30]:
median_group_c

67.82758620689656

In [31]:
abs(median_group_a-median_group_c)

5.827586206896555